<nav class="nav fill">
    {{nav-left-header overview=model.overview}}
	<ul class="nav nav-pills nav-stacked">
		{{#each sections as |section|}}
	  	<li role="presentation">{{#link-to "index" (query-params section=section)}}{{section}}{{/link-to}}</li>
		{{/each}}
	</ul>
	<div>{{linkedin-link text=true}}</div>
	<div>{{#download-button href="https://s3.amazonaws.com/joshchansard-assets/assets/josh-chansard-resume.pdf"}}Download My Resume{{/download-button}}</div>
</nav>