/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$contentBodyFont: 	 'Source Sans Pro';
$contentHeaderFont:  'Titillium Web';
$sidebarHeaderFont:  'Open Sans Condensed';
$sidebarContentFont: 'Titillium Web';

/* DEVICES */
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* COLORS */
$bgColor: #003459;/*#00171F;*/

$sidebarColor: rgba(0, 23, 31, .9);
$sidebarFontColor: #F2F2FF;


$contentBg: rgba(242, 242, 255, 1);

$accentColor: #007EA7; /*#00A8E8;*/
$lineColor: $accentColor;

$activeColor: #00A8E8;
$hoverColor: #007EA7;

/* .body variables */
$largeHeader: 40px;
$largeH3:     18px;
$largeMargin: 20px;
$smallHeader: 24px;
$smallH3:     14px;
$smallMargin: 20px;
$subHeader:   18px;
$smallEmphasize: 16px;

.body {
	background-color: $bgColor;

	font-family: $contentBodyFont;

	h2 {
		margin-top:  $smallMargin;
		font-family: $contentHeaderFont;
		font-size:   $smallHeader;
		border-bottom: 1px solid $accentColor;
	}

	@media(min-width: $screen-md-min) {
		h2 {
			margin-top: $largeMargin;
			font-size:  $largeHeader;
		}
	}
}

.content {
	background-color: $contentBg;
	border-radius: 4px;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 0 0 .5em $bgColor;
}

.container-fluid {
	background: url("/assets/bg-12.jpg") top center fixed; 
	background-size: cover;
}

.sidebar {
	position: fixed;
	height: 100%;
	background-color: $sidebarColor;
	font-family: $sidebarContentFont;
	text-align: center;
	nav {
		margin-top: 160px;	}

	.name-callout {
		border: 2px solid $sidebarFontColor;
		margin: 12px 0px;
	}
	h2 {
		border: 0px;
		padding: 8px;
		margin-left: 12px;
		margin-right: 12px;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		font-size:   $largeHeader;
		font-family: $sidebarHeaderFont;
		color: $sidebarFontColor;
	}
	h3 	{
		font-size: $subHeader;
		margin-top: 0px;
		font-family: $sidebarHeaderFont;
		color: $sidebarFontColor;
	}
	.portrait {
		height: 192px;
		width: 192px;
		border-radius:50%;
		margin: auto;
	}

	ul.nav.nav-pills.nav-stacked {
		li {
			a {
				border-radius: 0px;
				font-size: 16px;
			}

			a:hover {
				background-color: $hoverColor;
				color: $sidebarFontColor;
			}

			a.active {
				background-color: $activeColor;	
				color: $sidebarFontColor;
			}
		}
	}	
}

$topbarButtonBg: #337ab7;

.topbar {
	background-color: $sidebarColor;
	font-family: $sidebarHeaderFont;
	min-height: 48px;
	height: 48px;
	margin-bottom: 0px;
	border: 0px;

	.navbar-brand {
		padding: 0px;
		height: 100%;
	}

	.navbar-brand.navbar-text {
		line-height: 48px;
		margin: 0px 12px;
		color: $sidebarFontColor;
	}

	.btn {
		margin: 7px;
		background-color: $topbarButtonBg;
		border-color: $sidebarFontColor;
		color: $sidebarFontColor;
		font-family: $sidebarContentFont;
	}

	.portrait {
		height: 48px;
		width: 48px;
		background-size: 100%;
	}
}

$largeCardPaddingLeft:  120px;
$largeCardPaddingRight: 16px;
$smallCardPaddingLeft:  40px;
$smallCardPaddingRight: 12px;

$largeLeftLinePos: -48px;
$largeTopLinePos:   20px;
$largeGlyphicon:    48px;
$largeGlyphOffset: -22px;
$smallLeftLinePos: -12px;
$smallTopLinePos:   0px;
$smallGlyphicon:    24px;
$smallGlyphOffset: -10px;


.card {
	height: 100%;
	padding-left:  $smallCardPaddingLeft;
	padding-right: $smallCardPaddingRight;
	@media (min-width: $screen-md-min) {
		padding-left:  $largeCardPaddingLeft;
		padding-right: $largeCardPaddingRight;
	}
}

.vertical-line {
	position: absolute;
	left: $smallLeftLinePos;
	background-color: $lineColor;
	height: 100%;
	width: 4px;
	color: $lineColor;

	@media (min-width: $screen-md-min) {
		left: $largeLeftLinePos;
	}

	.glyphicon {
		left: $smallGlyphOffset;
		top: $smallTopLinePos;
		background-color: $contentBg;
		padding-top: 2px;
		font-size: $smallGlyphicon;

		@media (min-width: $screen-md-min) {
			left: $largeGlyphOffset;
			top: $largeTopLinePos;
			font-size: $largeGlyphicon;
		}
	}
}

.overview {
	h2 {
		margin-top: 20px;
	}
}

.education, .jobhistory {;
	ul {
		/*padding-left: 0px;*/

		ul {
			margin-bottom: 4px;
			li {
				/*padding-left: 40px;*/
			}
		}

		@media (min-width: $screen-md-min) {
			li.emphasize {
				font-size: $largeH3;
			}
		}
	}
}

.project {
	margin-left: 0px;
	border-bottom: 1px solid $accentColor;

	.img-container {
		cursor: pointer;
		margin-top: 15px;
		margin-bottom: 15px;
		overflow: hidden;
		height: 180px;
	}

	@media (min-width: $screen-md-min) {
		margin-bottom: 10px;
		border-bottom: 0px;

		.project-description {
			display: flex;
			min-height: 210px;
    		justify-content:center;
    		align-content:center;
    		flex-direction:column;
		}
	}
}

.portrait {
	background: url("/assets/portrait.jpg");
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.right-if-wide {
	display: block;
	@media (min-width: $screen-md-min) {
		float: right;
	}
}
.accentFill {
	background-color: $accentColor;
}

.emphasize {
	font-size: $smallEmphasize;
	font-family: $contentHeaderFont;
}


@media (max-width: $screen-md-min) {
	.mobile-deemphasize {
		font-size: $smallH3;
	}	
}

@media(min-width: $screen-md-min) {
	.emphasize {
		font-size: $largeH3;
	}

	.outline {
		border: 1px solid $accentColor;
	}
}